$clr: #d3d5db;

.render-box {
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    position: relative;
    outline: 5px solid $clr;
    overflow: hidden;
    display: inline-block;
}
.render-unit {
    size: 20px;
    position: absolute;
    top: calc(var(--x) * 1px);
    left: calc(var(--y) * 1px);
    transform: translate(-50%, -50%);
    background-color: $clr;
    color: $clr;
}
.render-unit::after {
    content: var(--name);
    text-align: center;
    height: 0;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    position: absolute;
}
